.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

.mat-raised-button {
  margin-left: 20px;
}

.filter-on {
  margin-right: 20px;
}

.mat-form-field {
  width: 150px;
}
